:host {
  display: flex;
  height: 100%;
}

.main-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 150px;

  background-color: lightslategray;
}

.btns-actions {
  display: flex;
  flex-direction: column;
  flex: 1;

  &__item {
    flex: 1;
    margin: 4px;
    color: whitesmoke;
    border-style: none;
    outline: none;
    font-family: monospace;

    &:hover {
      cursor: pointer;
      opacity: .5;
    }

    &--primary {
      border-color: cornflowerblue;
      background-color: cornflowerblue;
    }

    &--secundary {
      border-color: darkblue;
      background-color: darkblue;
    }
  }
}

.console {
  flex: 2;
  padding: 8px;
  margin: 4px;
  background-color: rgba(23, 23, 23, 1);
  color: white;

  max-height: 100%;
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-color: transparent #888;
  scrollbar-width: thin;

  /* width */
  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: grey;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}
