<div class="main-container">
  <div class="btns-actions">

    <!-- Add timers on fake classes -->
    <button
      (click)="addSubscription(AvailableSource.COMPONENT)"
      class="btns-actions__item btns-actions__item--primary"
    >
      Add subscription to fake Component
    </button>

    <button
      (click)="addSubscription(AvailableSource.PIPE)"
      class="btns-actions__item btns-actions__item--primary"
    >
      Add subscription to fake Pipe
    </button>

    <button
      (click)="addSubscription(AvailableSource.SERVICE)"
      class="btns-actions__item btns-actions__item--primary"
    >
      Add subscription to fake Service
    </button>

    <button
      (click)="addSubscription(AvailableSource.DIRECTIVE)"
      class="btns-actions__item btns-actions__item--primary"
    >
      Add subscription to fake Directive
    </button>

    <!-- Change logic on subscribe and unsubscribe -->
    <button
      class="btns-actions__item btns-actions__item--other"
      (click)="addSubscriptionLogic(randomNumber)"
    >
      console.log({{ randomNumber }}) on new subscription
    </button>

    <button
      class="btns-actions__item btns-actions__item--other"
      (click)="addUnsubscriptionLogic(randomNumber)"
    >
      console.log({{ randomNumber }}) on unsubscribe
    </button>

    <button
      class="btns-actions__item btns-actions__item--other"
      (click)="clearSubscriptionLogic()"
    >
      Clear extra subscription logic
    </button>

    <button
      class="btns-actions__item btns-actions__item--other"
      (click)="clearUnsubscriptionLogic()"
    >
      Clear extra unsubscription logic
    </button>

    <!-- Operations -->
    <button
      class="btns-actions__item btns-actions__item--secundary"
      (click)="printSubscriptionsMap()"
    >
      Show subscription map
    </button>

    <button
      class="btns-actions__item btns-actions__item--secundary"
      (click)="printSubscriptionsCount()"
    >
      Get subscriptions count
    </button>

    <button
      class="btns-actions__item btns-actions__item--secundary"
      (click)="cancelSubscriptions()"
    >
      Cancel newly created subscriptions
    </button>

    <button
      class="btns-actions__item btns-actions__item--secundary"
      (click)="consoleClear()"
    >
      Clear Console
    </button>
  </div>

  <pre
    #console
    class="console"
  ></pre>
</div>